# Import library
run two cells below first

In [64]:
import numpy as np
import pandas as pd
from collections import defaultdict
import time
from datetime import datetime
import sys

In [67]:
if 'holidays' not in sys.modules:
    !pip install holidays
import holidays

Collecting holidays
  Downloading https://files.pythonhosted.org/packages/d0/17/a452275a0b3e811a381137ff6a61649086af4c5bf2a25755f518cc64b39e/holidays-0.9.11.tar.gz (81kB)
     |████████████████████████████████| 81kB 1.8MB/s eta 0:00:011
Requirement already satisfied: python-dateutil in /Users/cyrusdeng/Documents/anaconda3/lib/python3.6/site-packages (from holidays) (2.7.3)
Requirement already satisfied: six in /Users/cyrusdeng/Documents/anaconda3/lib/python3.6/site-packages (from holidays) (1.11.0)
Building wheels for collected packages: holidays
  Building wheel for holidays (setup.py) ... done
  Stored in directory: /Users/cyrusdeng/Library/Caches/pip/wheels/40/a9/2b/94ac5464363d37564a87dc93a9d21a5850aac14a4608197003
Successfully built holidays
Installing collected packages: holidays
Successfully installed holidays-0.9.11
WARNING: You are using pip version 19.1.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

# Load three csv files
Summary: 937 unique drivers and 193502 unique rides in total

In [2]:
driver_df = pd.read_csv('driver_ids.csv')
ride_df = pd.read_csv('ride_ids.csv')
ride_timestamps_df = pd.read_csv('ride_timestamps.csv')

In [3]:
'''
Get the shape of each dataframe
'''
print('driver ids:',driver_df.shape)
display(driver_df.head())
print('ride ids:',ride_df.shape)
display(ride_df.head())
print('ride timestamps:',ride_timestamps_df.shape)
display(ride_timestamps_df.head())

driver ids: (937, 2)

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00

ride ids: (193502, 5)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

ride timestamps: (970405, 3)

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05

# Inspect Nan and abnormal values

In [4]:
'''
Nan value inspection
'''
print('driver ids info:------------------------------')
driver_df.info()
print('ride ids info:--------------------------------')
ride_df.info()
print('ride timestamps info:-------------------------')
ride_timestamps_df.info()
'''
ride_timestamps has one Nan value in the column timestamp
    TODO: delete this ride or fill it with an artificial value?
'''
display(ride_timestamps_df[ride_timestamps_df.isnull().any(axis=1)])

driver ids info:------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 2 columns):
driver_id              937 non-null object
driver_onboard_date    937 non-null object
dtypes: object(2)
memory usage: 14.7+ KB
ride ids info:--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193502 entries, 0 to 193501
Data columns (total 5 columns):
driver_id          193502 non-null object
ride_id            193502 non-null object
ride_distance      193502 non-null int64
ride_duration      193502 non-null int64
ride_prime_time    193502 non-null int64
dtypes: int64(3), object(2)
memory usage: 7.4+ MB
ride timestamps info:-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970405 entries, 0 to 970404
Data columns (total 3 columns):
ride_id      970405 non-null object
event        970405 non-null object
timestamp    970404 non-null object
dtypes: object(3)
memory usage: 22.2+ MB

                                 ride_id       event timestamp
434222  72f0fa0bd86800e9da5c4dced32c8735  arrived_at       NaN

In [5]:
'''
Abnormal value inspection
'''
display(driver_df.describe())
display(ride_df.describe())
display(ride_timestamps_df.describe())

                               driver_id  driver_onboard_date
count                                937                  937
unique                               937                   49
top     9494350df132e6748afca3bc5d138dcc  2016-04-05 00:00:00
freq                                   1                   36

       ride_distance  ride_duration  ride_prime_time
count  193502.000000  193502.000000    193502.000000
mean     6955.218266     858.966099        17.305893
std      8929.444606     571.375818        30.825800
min        -2.000000       2.000000         0.000000
25%      2459.000000     491.000000         0.000000
50%      4015.000000     727.000000         0.000000
75%      7193.000000    1069.000000        25.000000
max    724679.000000   28204.000000       500.000000

                                 ride_id         event            timestamp
count                             970405        970405               970404
unique                            194081             5               865826
top     43b8fb03256e30a1a93db73d09a05b26  requested_at  2016-04-30 22:09:15
freq                                   5        194081                    7

In [6]:
'''
TODO: Need to think about how to deal with this case, why will ride_distance <= 0?
TODO: the number of ride_id in ride_df and that of ride_timestamps doesn't fit (193502 vs 194081)
'''
abnormal_ride_df = ride_df[ride_df.ride_distance <= 0]
print(abnormal_ride_df.shape)
display(abnormal_ride_df.head())

(187, 5)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
3557,04d686ef2fba281e395992a28f14fdd3,c819e844b0c043786f1291e466478ca0,0,127,0
4221,0656192a402808805282e60761bda088,2f4fe99f74f1d71fdf2e8e18da9670c0,0,404,25
5120,07dd442e3e0b9f0f9b0d69c7b47cbb06,ad2b44316299477f2d6537922af22bf4,0,7,0
7144,0b631e16fa61f7321da18cf35a076d5f,1410283d27fdcf6c25a11f856ce5cde0,0,66,0
7713,0c02bd2b09f7193103279ab9b760b777,9fd795fdb616bd47c41e1ad07abbd6f3,0,23,50

In [7]:
'''
find overlap of driver_id between dirver_df and ride_df
TODO: some drivers don't have ride information--->delete? (937 vs 854)
'''
print(len(set(driver_df.driver_id.unique()).intersection(set(ride_df.driver_id.unique()))))

854

In [8]:
'''
find overlap of ride_id between ride_df and ride_timestamps_df
TODO: some rides don't have ride timestamps--->delete? (193502 vs 184819)
'''
print(len(set(ride_df.ride_id.unique()).intersection(set(ride_timestamps_df.ride_id.unique()))))

184819

# Merge all dfs to one df

In [9]:
'''
merge driver_df and ride_df (Get intersection based on driver_id)
'''
big_df = ride_df.merge(driver_df,left_on='driver_id',right_on='driver_id')
print(big_df.shape)
display(big_df.head())

(185891, 6)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,2016-03-29 00:00:00
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,2016-03-29 00:00:00
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,2016-03-29 00:00:00
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,2016-03-29 00:00:00
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,2016-03-29 00:00:00

In [10]:
# get overlapped ride_id between big_df and ride_timestamps_df
big_df = big_df[big_df['ride_id'].isin(ride_timestamps_df.ride_id.unique())]
big_df.reset_index(drop=True,inplace=True)
print(big_df.shape)
display(big_df.head())

(184209, 6)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,2016-03-29 00:00:00
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,2016-03-29 00:00:00
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,2016-03-29 00:00:00
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,2016-03-29 00:00:00
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,2016-03-29 00:00:00

In [11]:
start = time.time()
# for each unique ride id in big_df
for idx in range(big_df.shape[0]):
    rideid = big_df.iloc[idx]['ride_id']
    # first find rideid timestamps info in ride_timestamps_df
    target = ride_timestamps_df[ride_timestamps_df.ride_id == rideid]
    # for each (event,timestamp) pair
    for (e,t) in zip(list(target.event),list(target.timestamp)):
        big_df.at[idx,e] = t
    # double check index
    if big_df[big_df.ride_id == rideid]['requested_at'].values[0] != \
    ride_timestamps_df[ride_timestamps_df.ride_id == rideid].iloc[0,-1]:
        print(idx)
print('duration:',(time.time()-start)/3600,'hrs')

duration: 7.626359305050638 hrs

In [12]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184209 entries, 0 to 184208
Data columns (total 11 columns):
driver_id              184209 non-null object
ride_id                184209 non-null object
ride_distance          184209 non-null int64
ride_duration          184209 non-null int64
ride_prime_time        184209 non-null int64
driver_onboard_date    184209 non-null object
requested_at           184209 non-null object
accepted_at            184209 non-null object
arrived_at             184208 non-null object
picked_up_at           184209 non-null object
dropped_off_at         184209 non-null object
dtypes: int64(3), object(8)
memory usage: 15.5+ MB

In [13]:
# saved for future use
big_df.to_csv('merged_big_driver_ride_df.csv',index=False)

# Start to work on calculating extra variables
If already have file 'merged_big_driver_ride_df.csv', directly start running code below

In [29]:
merged_big_df = pd.read_csv('merged_big_driver_ride_df.csv')
print(merged_big_df.shape)
display(merged_big_df.head())

(184209, 11)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,2016-03-29 00:00:00,2016-04-23 02:13:50,2016-04-23 02:14:15,2016-04-23 02:16:36,2016-04-23 02:16:40,2016-04-23 02:22:07
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,2016-03-29 00:00:00,2016-03-29 19:00:49,2016-03-29 19:00:52,2016-03-29 19:03:57,2016-03-29 19:04:01,2016-03-29 19:17:30
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,2016-03-29 00:00:00,2016-06-21 11:56:31,2016-06-21 11:56:39,2016-06-21 12:01:32,2016-06-21 12:01:35,2016-06-21 12:11:07
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,2016-03-29 00:00:00,2016-05-19 09:15:29,2016-05-19 09:15:33,2016-05-19 09:18:20,2016-05-19 09:18:20,2016-05-19 10:13:58
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,2016-03-29 00:00:00,2016-04-20 22:05:30,2016-04-20 22:05:32,2016-04-20 22:07:03,2016-04-20 22:07:02,2016-04-20 22:20:45

In [15]:
# '''
# validate the correctness of combined df by randomly selecting ride ids to verify (random checking)
# '''
# ids = test1.ride_id
# i = np.random.choice(ids,10)
# for x in i:
#     display(test1[test1.ride_id == x])
#     display(ride_timestamps_df[ride_timestamps_df.ride_id == x])

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
123465,a4401d3bb25a651812f6781fcce5df77,265613fa62b9a1f16fab87573e7db6a6,3232,531,50,2016-04-14 00:00:00,2016-06-07 22:30:36,2016-06-07 22:30:40,2016-06-07 22:35:14,2016-06-07 22:35:16,2016-06-07 22:44:07

                                 ride_id           event            timestamp
144610  265613fa62b9a1f16fab87573e7db6a6    requested_at  2016-06-07 22:30:36
144611  265613fa62b9a1f16fab87573e7db6a6     accepted_at  2016-06-07 22:30:40
144612  265613fa62b9a1f16fab87573e7db6a6      arrived_at  2016-06-07 22:35:14
144613  265613fa62b9a1f16fab87573e7db6a6    picked_up_at  2016-06-07 22:35:16
144614  265613fa62b9a1f16fab87573e7db6a6  dropped_off_at  2016-06-07 22:44:07

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
92297,75ff47d4ba4bd4480629671a666500ba,e920e35edbfc4c5cef2edec6d1022981,9143,1584,0,2016-03-28 00:00:00,2016-06-26 16:35:58,2016-06-26 16:36:06,2016-06-26 16:41:22,2016-06-26 16:41:24,2016-06-26 17:07:48

                                 ride_id           event            timestamp
883355  e920e35edbfc4c5cef2edec6d1022981    requested_at  2016-06-26 16:35:58
883356  e920e35edbfc4c5cef2edec6d1022981     accepted_at  2016-06-26 16:36:06
883357  e920e35edbfc4c5cef2edec6d1022981      arrived_at  2016-06-26 16:41:22
883358  e920e35edbfc4c5cef2edec6d1022981    picked_up_at  2016-06-26 16:41:24
883359  e920e35edbfc4c5cef2edec6d1022981  dropped_off_at  2016-06-26 17:07:48

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
90496,74de6f7e57690a1687935227360edf7f,63d9b91dbc77f207f53b60aba5bfa08a,4904,673,0,2016-05-05 00:00:00,2016-06-18 13:28:34,2016-06-18 13:28:38,2016-06-18 13:30:44,2016-06-18 13:31:43,2016-06-18 13:42:56

                                 ride_id           event            timestamp
377540  63d9b91dbc77f207f53b60aba5bfa08a    requested_at  2016-06-18 13:28:34
377541  63d9b91dbc77f207f53b60aba5bfa08a     accepted_at  2016-06-18 13:28:38
377542  63d9b91dbc77f207f53b60aba5bfa08a      arrived_at  2016-06-18 13:30:44
377543  63d9b91dbc77f207f53b60aba5bfa08a    picked_up_at  2016-06-18 13:31:43
377544  63d9b91dbc77f207f53b60aba5bfa08a  dropped_off_at  2016-06-18 13:42:56

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
9871,10570128e114c22b855f1155b88fb379,655a03ed2763b8fe8488567bb6b6669d,4763,1431,0,2016-04-26 00:00:00,2016-06-22 11:21:04,2016-06-22 11:21:12,2016-06-22 11:23:14,2016-06-22 11:24:12,2016-06-22 11:48:03

                                 ride_id           event            timestamp
383020  655a03ed2763b8fe8488567bb6b6669d    requested_at  2016-06-22 11:21:04
383021  655a03ed2763b8fe8488567bb6b6669d     accepted_at  2016-06-22 11:21:12
383022  655a03ed2763b8fe8488567bb6b6669d      arrived_at  2016-06-22 11:23:14
383023  655a03ed2763b8fe8488567bb6b6669d    picked_up_at  2016-06-22 11:24:12
383024  655a03ed2763b8fe8488567bb6b6669d  dropped_off_at  2016-06-22 11:48:03

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
90942,750b2b9e0f4caa4539c2553a4d04fb6b,833887138d26781cc7224391953dcc9e,2870,768,75,2016-05-12 00:00:00,2016-06-09 18:33:57,2016-06-09 18:34:03,2016-06-09 18:42:35,2016-06-09 18:42:36,2016-06-09 18:55:24

                                 ride_id           event            timestamp
496345  833887138d26781cc7224391953dcc9e    requested_at  2016-06-09 18:33:57
496346  833887138d26781cc7224391953dcc9e     accepted_at  2016-06-09 18:34:03
496347  833887138d26781cc7224391953dcc9e      arrived_at  2016-06-09 18:42:35
496348  833887138d26781cc7224391953dcc9e    picked_up_at  2016-06-09 18:42:36
496349  833887138d26781cc7224391953dcc9e  dropped_off_at  2016-06-09 18:55:24

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
89686,734e463e87289ed53edf3802a2cda9fe,3d16121628f69c8b8859dbd9a6bfdf4f,21548,1277,25,2016-04-16 00:00:00,2016-04-20 20:14:12,2016-04-20 20:14:16,2016-04-20 20:16:47,2016-04-20 20:16:51,2016-04-20 20:38:08

                                 ride_id           event            timestamp
230885  3d16121628f69c8b8859dbd9a6bfdf4f    requested_at  2016-04-20 20:14:12
230886  3d16121628f69c8b8859dbd9a6bfdf4f     accepted_at  2016-04-20 20:14:16
230887  3d16121628f69c8b8859dbd9a6bfdf4f      arrived_at  2016-04-20 20:16:47
230888  3d16121628f69c8b8859dbd9a6bfdf4f    picked_up_at  2016-04-20 20:16:51
230889  3d16121628f69c8b8859dbd9a6bfdf4f  dropped_off_at  2016-04-20 20:38:08

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
91179,758f6d309376d24b53da45e91cf778cd,435e061d0ded80d1991a1bd246561cac,15400,1114,25,2016-03-30 00:00:00,2016-06-13 09:02:08,2016-06-13 09:02:09,2016-06-13 09:08:58,2016-06-13 09:09:03,2016-06-13 09:27:37

                                 ride_id           event            timestamp
255220  435e061d0ded80d1991a1bd246561cac    requested_at  2016-06-13 09:02:08
255221  435e061d0ded80d1991a1bd246561cac     accepted_at  2016-06-13 09:02:09
255222  435e061d0ded80d1991a1bd246561cac      arrived_at  2016-06-13 09:08:58
255223  435e061d0ded80d1991a1bd246561cac    picked_up_at  2016-06-13 09:09:03
255224  435e061d0ded80d1991a1bd246561cac  dropped_off_at  2016-06-13 09:27:37

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
156137,d27b078b9f801a979bda2687ef91159a,c855003adff572d2863ad000bdb38c4e,5643,1110,150,2016-04-19 00:00:00,2016-04-20 17:14:42,2016-04-20 17:14:46,2016-04-20 17:24:06,2016-04-20 17:24:10,2016-04-20 17:42:40

                                 ride_id           event            timestamp
758335  c855003adff572d2863ad000bdb38c4e    requested_at  2016-04-20 17:14:42
758336  c855003adff572d2863ad000bdb38c4e     accepted_at  2016-04-20 17:14:46
758337  c855003adff572d2863ad000bdb38c4e      arrived_at  2016-04-20 17:24:06
758338  c855003adff572d2863ad000bdb38c4e    picked_up_at  2016-04-20 17:24:10
758339  c855003adff572d2863ad000bdb38c4e  dropped_off_at  2016-04-20 17:42:40

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
3924,05addf442c147875efa5cf53453ad47b,968ab5600d78ae369765ccb70796c49e,2284,1272,0,2016-04-08 00:00:00,2016-04-30 14:05:44,2016-04-30 14:05:48,2016-04-30 14:10:12,2016-04-30 14:10:15,2016-04-30 14:31:27

                                 ride_id           event            timestamp
570505  968ab5600d78ae369765ccb70796c49e    requested_at  2016-04-30 14:05:44
570506  968ab5600d78ae369765ccb70796c49e     accepted_at  2016-04-30 14:05:48
570507  968ab5600d78ae369765ccb70796c49e      arrived_at  2016-04-30 14:10:12
570508  968ab5600d78ae369765ccb70796c49e    picked_up_at  2016-04-30 14:10:15
570509  968ab5600d78ae369765ccb70796c49e  dropped_off_at  2016-04-30 14:31:27

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
66916,5a880bc9cddbb3845438de87f859c360,ba7ecae41e107acb84932e7fbe8ced86,1684,466,0,2016-04-19 00:00:00,2016-05-03 18:25:57,2016-05-03 18:26:00,2016-05-03 18:31:03,2016-05-03 18:31:06,2016-05-03 18:38:52

                                 ride_id           event            timestamp
706420  ba7ecae41e107acb84932e7fbe8ced86    requested_at  2016-05-03 18:25:57
706421  ba7ecae41e107acb84932e7fbe8ced86     accepted_at  2016-05-03 18:26:00
706422  ba7ecae41e107acb84932e7fbe8ced86      arrived_at  2016-05-03 18:31:03
706423  ba7ecae41e107acb84932e7fbe8ced86    picked_up_at  2016-05-03 18:31:06
706424  ba7ecae41e107acb84932e7fbe8ced86  dropped_off_at  2016-05-03 18:38:52

## Get new variables related to ride info

In [71]:
# variables related to ride
def add_vars(row):
    # convert time to datetime
    # source: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    for i in range(5,len(row)):
        if type(row[i]) != float:
            row[i] = datetime.strptime(row[i], '%Y-%m-%d %H:%M:%S')
    # get speed
    row['speed(m/s)'] = row['ride_distance'] / row['ride_duration']
    # holiday? reference: https://stackoverflow.com/questions/2394235/detecting-a-us-holiday
    row['holiday'] = int(row['requested_at'] in holidays.US())
    # requested_at time is weekend? (0-6 --> Mon-Sun)
    row['weekend'] = int(row['requested_at'].weekday() > 4)
    # time of day (6-12/12-15/16-20/20-24/24-6)
    # {0: [6,12), 1: [12,15), 2: [16,20), 3: [20,24), 4: [24,6)}
    if 6 <= row['requested_at'].hour < 12:
        row['time of day'] = 0
    elif 12 <= row['requested_at'].hour < 15:
        row['time of day'] = 1
    elif 16 <= row['requested_at'].hour < 20:
        row['time of day'] = 2
    elif 20 <= row['requested_at'].hour < 24:
        row['time of day'] = 3
    else:
        row['time of day'] = 4
    # season (12-2 Winter/3-5 Spring/6-8 Summer/9-11 Autumn)
    # {0: Spring, 1: Summer, 2: Autumn, 3: Winter}
    if 3 <= row['requested_at'].month <= 5:
        row['season'] = 0
    elif 6 <= row['requested_at'].month <= 8:
        row['season'] = 1
    elif 9 <= row['requested_at'].month <= 11:
        row['season'] = 2
    else:
        row['season'] = 3
    return row

start = time.time()
rides_added_vars_df = merged_big_df.apply(add_vars,axis=1)
print('duration:',(time.time() - start)/60,'minutes')

duration: 19.11801578203837 minutes

In [72]:
print(rides_added_vars_df.shape)
display(rides_added_vars_df.head())

(184209, 16)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at,speed(m/s),holiday,weekend,time of day,season
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,2016-03-29,2016-04-23 02:13:50,2016-04-23 02:14:15,2016-04-23 02:16:36,2016-04-23 02:16:40,2016-04-23 02:22:07,5.538226,0,1,4,0
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,2016-03-29,2016-03-29 19:00:49,2016-03-29 19:00:52,2016-03-29 19:03:57,2016-03-29 19:04:01,2016-03-29 19:17:30,4.155748,0,0,2,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,2016-03-29,2016-06-21 11:56:31,2016-06-21 11:56:39,2016-06-21 12:01:32,2016-06-21 12:01:35,2016-06-21 12:11:07,5.737762,0,0,0,1
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,2016-03-29,2016-05-19 09:15:29,2016-05-19 09:15:33,2016-05-19 09:18:20,2016-05-19 09:18:20,2016-05-19 10:13:58,19.557519,0,0,0,0
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,2016-03-29,2016-04-20 22:05:30,2016-04-20 22:05:32,2016-04-20 22:07:03,2016-04-20 22:07:02,2016-04-20 22:20:45,5.000000,0,0,3,0

In [119]:
# saved for future use
rides_added_vars_df.to_csv('added_variables_rides_info.csv',index=False)

## Get new variables related to drivers

In [77]:
drivers_df = pd.DataFrame(rides_added_vars_df.driver_id.unique())
drivers_df.rename(columns={0:'driver_id'},inplace=True)
drivers_df.reset_index(drop=True,inplace=True)
print(drivers_df.shape)
display(drivers_df.head())

(837, 1)

                          driver_id
0  002be0ffdc997bd5c50703158b7c2491
1  007f0389f9c7b03ef97098422f902e62
2  011e5c5dfc5c2c92501b8b24d47509bc
3  0152a2f305e71d26cc964f8d4411add9
4  01674381af7edd264113d4e6ed55ecda

In [117]:
def get_fare(driver_rides):
    total_fare = 0
    for (distance,duration,prime) in zip(driver_rides['ride_distance'].values,\
                                         driver_rides['ride_duration'].values,\
                                         driver_rides['ride_prime_time'].values):
        total_fare += (1 + prime/100)*(min(max(5,(2 + 1.15*distance*0.00062 + 0.22*duration/60 + 1.75)),400))
    return total_fare

def add_driver_vars(row):
    # first find all rides under driverid
    rides = rides_added_vars_df[rides_added_vars_df.driver_id == row['driver_id']]
    # Percentage of rides completed in prime time among all rides for each driver
    row['prime time rides percentage'] = rides[rides.ride_prime_time != 0].shape[0] / rides.shape[0]
    # Average active time per day for each driver (total duration / total days)
    days = len(rides.groupby('requested_at', as_index=False).mean()['requested_at'].dt.normalize().unique())
    row['average daily active time(hrs/day)'] = rides.ride_duration.sum() / (3600*days)
    # Average fare(daily/per ride) received for each driver
    total_fare = get_fare(rides)
    row['average daily fare'] = total_fare / days
    row['average fare per ride'] = total_fare / rides.shape[0]
    return row

start = time.time()
drivers_added_vars_df = drivers_df.apply(add_driver_vars,axis=1)
print('duration:',(time.time() - start)/60,'minutes')

duration: 0.4053564031918844 minutes

In [118]:
print(drivers_added_vars_df.shape)
display(drivers_added_vars_df.head())

(837, 5)

,driver_id,prime time rides percentage,average daily active time(hrs/day),average daily fare,average fare per ride
0,002be0ffdc997bd5c50703158b7c2491,0.397112,1.097411,65.213532,13.183963
1,007f0389f9c7b03ef97098422f902e62,0.387097,0.474468,27.696289,10.721144
2,011e5c5dfc5c2c92501b8b24d47509bc,0.470588,0.676042,41.147094,14.522504
3,0152a2f305e71d26cc964f8d4411add9,0.251309,1.211951,66.105826,13.844152
4,01674381af7edd264113d4e6ed55ecda,0.264000,2.482243,136.449939,14.554660

In [120]:
# saved for future use
drivers_added_vars_df.to_csv('added_variables_drivers_info.csv',index=False)

# Start to construct models

In [ ]:
'''
rides info combined dataframe
'''
big_rides_info = pd.read_csv('added_variables_rides_info.csv')
print(big_rides_info.shape)
display(big_rides_info.head())

'''
drivers info combined dataframe
'''
big_drivers_info = pd.read_csv('added_variables_drivers_info.csv')
print(big_drivers_info.shape)
display(big_drivers_info.head())